<%= form_with(model: shipment_detail) do |form| %>
  <% if shipment_detail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(shipment_detail.errors.count, "error") %> prohibited this shipment_detail from being saved:</h2>

      <ul>
        <% shipment_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :shipment_id, style: "display: block" %>
    <%= form.number_field :shipment_id %>
  </div>

  <div>
    <%= form.label :item_id, style: "display: block" %>
    <%= form.number_field :item_id %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :requested_quantity, style: "display: block" %>
    <%= form.number_field :requested_quantity %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
