<p style="color: green"><%= notice %></p>

<%= render @shipment_detail %>

<div>
  <%= link_to "Edit this shipment detail", edit_shipment_detail_path(@shipment_detail) %> |
  <%= link_to "Back to shipment details", shipment_details_path %>

  <%= button_to "Destroy this shipment detail", @shipment_detail, method: :delete %>
</div>
