<! The form_with helper method instantiates a form builder. The form_with block calls methods
label and text_field on the form builder to output the appropriate form elements. >

<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :item_name, style: "display: block" %>
    <%= form.text_field :item_name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :msrp, style: "display: block" %>
    <%= form.text_field :msrp %>
  </div>

  <div>
    <%= form.label :wsp, style: "display: block" %>
    <%= form.text_field :wsp %>
  </div>

  <div>
    <%= form.label :sku, style: "display: block" %>
    <%= form.text_field :sku %>
  </div>

  <div>
    <%= form.label :warehouse, style: "display: block" %>
    <%= collection_select(:item, :warehouse_id, @warehouses, :id, :name, {:prompt => true}) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
