<div id="<%= dom_id item %>">
  <p>
    <strong>Item name:</strong>
    <%= item.item_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

  <p>
    <strong>Msrp:</strong>
    <%= item.msrp %>
  </p>

  <p>
    <strong>Wsp:</strong>
    <%= item.wsp %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= item.sku %>
  </p>

  <p>
    <strong>Warehouse Location:</strong>
    <%= item.warehouse.name %>
  </p>

</div>
