<! List of all items, link to create new item, create new warehouse, and show each item >
<p style="color: green"><%= notice %></p>

<h1>Inventory</h1>

<div class="grid-container">
  <p>
    <%= link_to "New item", new_item_path %>
  </p>
  <p>
     <%= link_to "Create new warehouse", new_warehouse_path %>
  </p>
<! List of all items >
  <div id="items">
    <% @items.each do |item| %>
      <%= render item %>
      <p>
        <%= link_to "Show this item", item %>
      </p>
    <% end %>
  </div>
</div>
