<div id="<%= dom_id shipment %>">
  <p>
    <strong>Ship to name:</strong>
    <%= shipment.ship_to_name %>
  </p>

  <p>
    <strong>Ship to address:</strong>
    <%= shipment.ship_to_address %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= shipment.notes %>
  </p>

  <p>
    <strong>Order date:</strong>
    <%= shipment.order_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= shipment.status %>
  </p>

</div>
